################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PuppetCat.API/bin/Debug/netcoreapp2.1
/src/PuppetCat.API/obj
/src/PuppetCat.AspNetCore.Core/bin/Debug/netcoreapp2.1
/src/PuppetCat.AspNetCore.Core/obj
/src/PuppetCat.AspNetCore.Mvc/bin/Debug/netcoreapp2.1
/src/PuppetCat.AspNetCore.Mvc/obj
/src/PuppetCat.Sample.API/bin/Debug/netcoreapp2.1
/src/PuppetCat.Sample.API/obj
/src/PuppetCat.Sample.Core/bin/Debug/netcoreapp2.1
/src/PuppetCat.Sample.Core/obj
/src/PuppetCat.Sample.Data/bin/Debug
/src/PuppetCat.Sample.Data/obj
/src/PuppetCat.Sample.Repository/bin/Debug/netcoreapp2.1
/src/PuppetCat.Sample.Repository/obj
/src/PuppetCat.Sample.WebLogic/bin/Debug/netcoreapp2.1
/src/PuppetCat.Sample.WebLogic/obj
/src/PuppetCat.Sample.API/internal-nlog.txt
/src/.vs/PuppetCat
/src/PuppetCat.AspNetCore.Core/bin/Debug/net5.0
/src/PuppetCat.AspNetCore.Mvc/bin/Debug/net5.0
/src/PuppetCat.Sample.API/bin/Debug/net5.0
/src/PuppetCat.Sample.Core/bin/Debug/net5.0
/src/PuppetCat.Sample.Repository/bin/Debug/net5.0
/src/PuppetCat.Sample.WebLogic/bin/Debug/net5.0
/src/PuppetCat.AspNetCore.Core/bin/Debug/net8.0
/src/PuppetCat.AspNetCore.Mvc/bin/Debug/net8.0
/src/PuppetCat.Sample.API/bin/Debug/net8.0
/src/PuppetCat.Sample.Core/bin/Debug/net8.0
/src/PuppetCat.Sample.Repository/bin/Debug/net8.0
/src/PuppetCat.Sample.WebLogic/bin/Debug/net8.0
/src/PuppetCat.Sample.Data/bin/Debug/net8.0
